<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Of Transfer</title>
    <link rel="stylesheet" href="/stylessheets/index.css">
</head>

<body>

    <form action="/create" method="post">
       <a href="/"> <div class="back">Back</div> </a>
        <a href="/ParticularsOfTransferer"><div class="goto">GoTo</div> </a>
        <h1> DETAILS OF TRANSFER</h1>
        <div class="detailsTransfer">
            <label for="">(A) MODE OF TRANSFER </label>
            <input type="text" name="mode">
            <label for=""> (B)REGISTERED DEED NO. AND DATE </label>
            <input type="text" style="margin-left: 35rem;" name="deedNo">
            <label for="">(C) WHETHER TRANSFERRED DIRECTLY FROM THE RECORDED RAIYAT </label>
            <select name="raiyat" id="" style="margin-left: 60rem; margin-top: -2rem;">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <button>Submit</button>



    </form>



    <script src="/javascripts/index.js"></script>

   

</body>

</html>