<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutation Form</title>
    <link rel="stylesheet" href="/stylessheets/index.css">
</head>

<body>
    <form action="/create" method="post">
        <a href="/detailsOfTransfer"><div class="goto" >GoTo</div> </a>
        <h2> Application For Mutation </h2>
        <h1>  Particulars Of Transferer </h1>
        

        <!-- <div class="uploadImage" style="  margin-top: 20rem; margin-left: 50rem; ">


            <img id="preview" src="" alt="Image Preview"
                style="display: none; margin-top: -5rem; margin-left: 30rem; width: 8rem; height: 10rem;" />
            <br />
            <input type="file" id="fileInput" accept="image/*"/>

        </div> -->
        <div class="transsferer">
            <label for="">(A) NAME</label>
            <input type="text" id="name" name="name">
            <select name="" id="" style="margin-top: 2rem;" >
                <option value="father">Father</option>
                <option value="husband">Husband</option>
                <option value="mother">Mother</option>
            </select>
            <input type="text" id="Gname" name="Gname">
            <label for="">(C) POSTAL ADDRESS </label>
            <input type="text" id="address" name="address">


        </div>


        <button id="submit">Submit</button>





    </form>




    <script src=" /javascripts/index.js"> </script>

</body>

</html>