<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Particulars Of Transferer</title>
    <link rel="stylesheet" href="/stylessheets/index.css">
</head>
<body>
    <form action="">
       <a href="/detailsOfTransfer"> <div class="back">Back</div> </a>
      <a href="/LandSchedule"><div class="goto">GoTo</div> </a>  
        <h1>PARTICULARS OF THE APPLICANT </h1>
        <div class="applicantDetails">
            <label for=" name"> (A) Name</label>
            <input type="text">
            <select name="" id="" style="margin-top: 2rem;">
                <option value="father">Father</option>
                <option value="husband">Husband</option>
                <option value="mother">Mother</option>
            </select>
            <input type="text">
            <label for=""> (C)Postal Address</label>
            <input type="text">
            <label for=""> (D) Mobile No.</label>
            <input type="number">
            <label for=""> (E) Sex</label>
            <select name="" id=""
                style="margin-left: 25rem; margin-top: -2rem;  box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .30);">

                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select>
            <label for=""> (F)Caste</label>
            <select name="" id=""
                style="margin-left: 25rem; margin-top: -2rem;  box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .30);">
                <option value="OBC-A">OBC-A</option>
                <option value="OBC-A">OBC-B</option>
                <option value="SC">SC</option>
                <option value="ST">ST</option>
                <option value="genaral">Genaral</option>
            </select>

            <label for=""> (G) Addhar No. </label>
            <input type="number">

            <label for="anykhatianNo"> (H) EXISTING KHATIAN NO. OF THE APPLICANT IN THE RELEVANT MOUZA . ( IF ANY)
            </label>
            <input type="text" style="margin-left: 68rem;">

        </div>

        <button>Submit</button>



    </form>


    <script src="/javascripts/index.js"></script>
    
</body>
</html>