<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>


    <style>
        body {
            background-image: url("Image/heading-icon.jpg");
            background-repeat: no-repeat;
            background-size: 200vh 120vh;
            min-width: 200vh;
            min-height: 110vh;

        }

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aqua;
            color: red;
            font-size: 50px;
        }

        #outer {
            display: flex;
            position: relative;
            margin-left: 20%;
            width: 500px;
            height: 400px;

        }

        #outer span {
            display: flex;
            position: absolute;
            margin-left: 400px;
            background-color: white;
            width: 1000px;
            height: 800px;
        }

        #inner {
            display: flex;

            position: absolute;
            margin-left: 22%;
            margin-top: 50px;
            width: 200px;
            height: 400px;

        }

        #outer h3 {
            margin-left: 10%;
            font-size: 25px;
            display: flex;
            position: relative;
            color: brown;
        }

        #outer div h4 {
            font-size: 20px;

        }

        #outer div div h4 {
            font-size: 20px;
            margin-top: 320px;

        }

        #outer div {
            display: flex;
            position: absolute;
            margin-top: 50px;
            margin-left: 10px;
        }
    </style>
</head>
<h1>About Us</h1>

<body>

    <div id="outer"> <img src="/Img/Shop image.jpg" alt=""> <span>
            <h3>Welcome to Uma Readymade Centre, Your One-Stop Shopping Destination!</h3>


            <div>
                <h4>
                    At Uma Readymade Centre, we have always believed in delivering the best quality at the best price.
                    At
                    our store, we bring to you an exclusive collection of Menswear, Womenswear, Kidswear along with the
                    branded beauty products to ensure that you are completely spoilt for choice. We at Uma Readymade
                    Centre
                    understand the diverse needs and preferences of our customers. Explore the wide range of Arni Silk,
                    Baluchari, Benarasi, Designer Saree, Fancy Saree, Gadwal, Ghicha, Handloom, Jamdani, Jamebar, Jute
                    Net,
                    Kalamkari, Kanjivaram, Katan, Lahenga Saree, Mangalgiri, Opara, Pure Silk, South Cotton, Tant,
                    Tissue
                    and discover the style that best suits you and your loved ones. Feel like a diva with our handpicked
                    selection of women’s ethnic wear which are available in different styles, colors and designs. Buy
                    sarees
                    from our treasure trove of traditional as well as designer sarees. Be it exquisite wedding sarees,
                    traditional textures or contemporary chic prints, our collection boasts of all this and much more.
                    If
                    going ethnic is your style, take your pick from an assortment of fashionable garments and look your
                    traditional best. Besides the attractive range of choices, Also, look out for the irresistible
                    offers on
                    a wide variety of products that we offer time and again which make shopping more fun than ever
                    before.
                    After all, customer satisfaction is our motto and we believe in going that extra mile every time
                    when
                    it’s about serving our customers. </h4>
                <div>
                    <h4>
                        উমা রেডিমেড সেন্টারে, আমরা বিশ্বাস করি খুব সহজ দামে ভালো মানের জিনিস প্রদান করতে. আমাদের স্টোরে,
                        খুব উন্নতমানের ছেলেদের পোশাক, মেয়েদের পোশাক, বাচ্ছাদের পোশাক সঙ্গে বিউটি প্রোডাক্ট পাওয়া যায়, যা
                        আপনার পছন্দ সই. আমরা উমা রেডিমেড সেন্টারে আমাদের গ্রাহকদের বৈচিত্র্যময় প্রয়োজন ও পছন্দ বোঝার
                        চেষ্টা করি। আমাদের বিস্তৃত সারি সংগ্রহে আপনি পাবেন আর্নি সিল্ক, বালুচরি, বেনারসি, ডিজাইনার
                        শাড়ি, ফ্যান্সি শাড়ি, গদওয়াল, ঘিচা, হ্যান্ডলুম, জামদানি, জামেবার, জুট নেট, কালামকারি,
                        কানজিভরাম, কাতান, লেহেঙ্গা শাড়ি, মঙ্গলগিরি, ওপারা, পিওর সিল্ক, সাউথ কটন, তন্ত, এবং টিস্যু।

                        আমাদের কাস্টমাইজড নারীদের জাতীয় পোশাকের সংগ্রহ থেকে এমন একটি শৈলী খুঁজে নিন যা আপনার এবং আপনার
                        প্রিয়জনদের জন্য উপযুক্ত। আপনি চাইলে বিবাহের শাড়ি, ঐতিহ্যবাহী টেক্সচার অথবা আধুনিক চিৎপ্রিন্টের
                        মধ্যে থেকে নির্বাচন করতে পারবেন। আমাদের সংগ্রহে সব ধরনের শৈলী উপলব্ধ।

                        আমাদের ফ্যাশনেবল পোশাকের সাথে আপনার ঐতিহ্যবাহী রূপে সাজুন। এছাড়াও, আমাদের আকর্ষণীয় অফারগুলি
                        দেখে নিন যা আপনার শপিং অভিজ্ঞতাকে আরও মজার করে তুলবে।

                        গ্রাহক সন্তুষ্টি আমাদের প্রধান লক্ষ্য, এবং আমরা আমাদের গ্রাহকদের সেবা করতে অতিরিক্ত প্রচেষ্টা
                        করতে বিশ্বাস করি।
                    </h4>
                </div>
            </div>
        </span></div>
    <div id="inner"> <img src="/Img/Shop-1 image.jpg" alt=""></div>



</body>

</html>